<!-- about.html -->

{% extends "menu.html" %}

{% block title %}Acerca de Nosotros{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="/static/images/logo1.png" class="img-fluid rounded-circle" alt="Acerca de Nosotros" style="width: 200px;">
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">En Arepas Stellitas</h2>
            <p>Somos una empresa local con raíces en Yopal, Casanare, comprometida en ofrecer la mejor calidad de tamales y arepas a nuestros valiosos clientes. Desde nuestros inicios como Arepas Stellitas, hemos cultivado una pasión por la autenticidad culinaria y el servicio excepcional.</p>
            <p>Nuestro equipo está formado por expertos culinarios apasionados por la tradición gastronómica de nuestra región. Nos esforzamos por preservar la autenticidad de nuestras recetas mientras incorporamos toques innovadores para satisfacer los paladares más exigentes.</p>
            <p>En cada bocado, queremos que nuestros clientes experimenten la riqueza de los sabores locales y sientan el amor y la dedicación que ponemos en cada uno de nuestros productos. Nos enorgullece ser parte de la comunidad y contribuir a la deliciosa oferta gastronómica de Yopal.</p>
            <p>Estamos comprometidos con la frescura, la calidad y la satisfacción del cliente. Gracias por elegir Arepas Stellitas y ser parte de nuestra historia culinaria. ¡Esperamos deleitar sus sentidos con cada bocado!</p>
        </div>
    </div>
</div>
{% endblock %}
